@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

* {
    font-family: Inter, sans-serif, -apple-system, blinkmacsystemfont, Segoe UI,
        roboto, Helvetica Neue, arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", Segoe UI Symbol !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
